body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
}

.movies-filter {
    width: 100%;
    height: 80px;
    position: fixed;
    background: #333;
}

.movies-filter .input-group {
    margin: 20px;
    width: calc(100% - 40px);
}

.grid.layout {
    position: fixed;
    width: 100%;
    top: 80px;
    display: block;
    height: calc(100% - 80px);
    padding-bottom: 20px;
    background: #aaa;
    overflow-y: scroll;
}

.noimage {
    width: 100%;
    min-height: 300px;
    background-color: #eee;
    background-image: url(./noimage.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.movie {
    margin-top: 20px;
    font-size: 80%;
}

.movie .card-title {
    font-size: 120%;
    font-weight: bold;
    position: relative;
    height: 30px;
    padding-top: 10px;
}

.card-subtitle {
    position: absolute;
    top: 64px;
    right: 10px;
}

.movie .genres {
    font-size: 80%;
    float: right;
    color: #888;
    clear: both;
    font-style: italic;
}

.movie .about .plot {
    min-height: 110px;
}

.movie .about {
    float: right;
    color: #888;
    clear: both;
    font-style: italic;
    padding: 5px 10px;
    height: 170px;
    overflow: hidden;
}

.movie .actors::before {
    content: ' Actors: ';
    font-weight: bold;
}

.movie .actors {
    width: 100%;
    font-size: 80%;
}

.movie .runtime {
    color: #888;
    float: left;
    text-align: left;
    width: 50%;
    font-size: 90%;
    margin-bottom: 7px;
}

.movie .sp-info .row {
    clear: both;
    width: 100%;
    height: 30px;
    display: block;
}

.movie .card-footer .row {
    clear: both;
    width: 100%;
    height: 35px;
    display: block;
}

.movie .director {
    color: #212;
    float: right;
    text-align: right;
    width: 50%;
    font-size: 90%;
    height: 40px;
    margin-bottom: 7px;
}

.movie .runtime::before {
    content: 'runtime: ';
    font-size: 80%;
}

.movie .runtime::after {
    content: ' min';
    font-size: 80%;
}

.movie .year {
    float: right;
    font-size: 100%;
    color: #955;
    letter-spacing: 1px;
    clear: both;
    position: absolute;
    right: -11px;
    top: -8px;
}

.movie .card-header {
    height: 80px;
}

.movie .card-footer .btn-group {
    width: auto;
    margin: 15px auto;
    clear: both;
}

.updateDialog h3 .mode {
    font-size: 80%;
    color: #bbb;
    font-weight: normal;
}

.updateDialog h3 .mode::before {
    content: '(';
}

.updateDialog h3 .mode::after {
    content: ')';
}

.updateDialog {
    margin-top: -80px;
    margin-bottom: -50px;
    margin-right: -80px;
    background: #eee;
    overflow: hidden;
    padding: 40px 29px;
}

.cinemaRedactGroup {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 20px;
    height: 65px;
}

.cinemaRedactGroup label {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 3px;
    float: left;
    width: 20%;
    font-weight: bold;
}

.cinemaRedactGroup input,
.cinemaRedactGroup textarea,
.cinemaRedactGroup select {
    float: right;
    width: 70%;
    display: block;
    font-size: 90%;
    letter-spacing: 1px;
    font-style: italic;
    border: 1px #ccc solid;
}

.updateDialog .update,
.updateDialog .remove,
.updateDialog .cancel {
    width: 28%;
    margin: 10px 2.5%;
}

.layout.container {
    left: 0;
    top: 0;
    height: 90%;
    overflow-y: scroll;
    position: fixed;
    width: 90%;
    margin: 3%;
    padding: 50px 30px 0 0;
}

.movie.card .btn {
    width: 80px;
}

.logo.col-sm-12.col-md-6:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(/static/media/noimage.a3952d0b.png);
    opacity: 0.15;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 0;
}

div#root {
    background: #aaa;
    height: 100%;
    position: fixed;
    width: 100%;
}

.updateDialog {
    opacity: 1;
    animation: dialogGrow 1.8s ease;
}

@keyframes dialogGrow {
    0% {
        opacity: 0;
        transform: scaleX(0.01) scaleY(0.1);
    }
    40% {
        filter: brightness(0.01);
        opacity: .2;
        transform: scaleX(0.01) scaleY(1);
    }
    60% {
        opacity: .1;
        filter: brightness(1);
    }
    70% {
        transform: scaleX(1.1) scaleY(1.1);
    }
    80% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
}